body{
    margin: 0;
    font-family: sans-serif;
}
/* Header Section */

header{
   
    background-color: rgb(2, 2, 56);
    padding: 15px 0px;
    display: flex;
    
}

header img{
    margin: 0 auto 0  0.4rem;
    height: 2.5rem;
    width: max(100px, 18vw);
    aspect-ratio: 35/4;
}

header h1{
    color: hsl(53, 100%, 50%);
    margin: 7px auto 0px;
    font-size: min(5vw, 1.2em);
}

.header-buttons{
    margin: 7px 20px 0 auto;
}

header a{
    text-decoration: none;
    margin: 0 30px;
    border: 0;
    font-size: 1.5rem;
    color: rgb(192, 190, 190);
    background-color: rgb(2, 2, 56);
    padding: 4px;
}

header a:hover{
    background-color: gainsboro;
    color: black;
}

/* main element */

main{
    background-color: aliceblue;
    padding: 3em 10em;
}

section{
    width: 70%;
    margin: 3.5rem auto;
}

h2{
    margin: 0;
}

hr{
    border: 2px solid rgb(225, 215, 215);
    color: rgb(225, 215, 215);
    margin: 0;
}

form{
    display: block;
    padding: 20px 30px;
    border: 1px solid black;
}

label {
    display: block;
}

input{
    width: max(400px, 7vw);   
    margin: 20px 0;
}

/* HTML section */

.large{
    font-size: 21px;
}

input[type="radio"]{
    width: auto;    
}

#html label{
    display: inline;
}
span{
    display: block;
}

/* CSS section */

textarea{
    height: 5rem;
    width: max(200px, 4vw);
}

/* button */

.btn{
    margin: 3rem auto;
}

button{
    border: 2.5px solid rgb(32, 17, 32);
    background-color: rgb(185, 178, 178);
    width: max(500px, 4vw);
    height: 5rem;
    font-size: 28px;
}
